.header__wrapper {
  height: 93px;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
}

.header__logo {
  width: 52px;
  height: 62px;
  margin-left: 20px;
  transform: rotate(180deg); 
}

.header__links {
  color: #fff;
  font-size: 16px;
  font-family: Helvetica;
  font-weight: lighter;
  margin: auto;
}
  .header__links a {
    cursor: pointer;
    margin: 0 30px;
    opacity: 0.75;
  }
  .header__links a:hover,
  .header__links a:active {
    opacity: 1;
  }
  .header__links a:active {
    text-decoration: underline;
  }

.header__logged-user {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin-right: 30px;
}
